.sectionTitle__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
}

.sectionTitle__container-right {
  flex-direction: row-reverse;
}
.sectionTitle__container-right .sectionTitle__boxContainer {
  right: -20px;
}

.sectionTitle__container-left .sectionTitle__boxContainer {
  left: -20px;
}

.sectionTitle__imageContainer-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
  position: relative;
  margin-right: -20px;
}

.sectionTitle__imageContainer-photo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.sectionTitle__boxContainer {
  padding: 12px 40px 12px 30px;
  border-radius: 8px;
  z-index: 1;
  position: relative;
  /* left: -20px; */
}

.sectionTitle__title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #ffae00;
  text-transform: uppercase;
  letter-spacing: 1px;
}
