.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #124122;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 65%);
  display: flex;
  align-items: center;
  z-index: 100;
}

.navBar__logoSection {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
  left: 75px;
  top: 35px;
}

.navBar__logo {
  height: 140px;
  width: auto;
  background-color: transparent;
  position: absolute;
  left: 5px;
  transform: translateX(-50%);
  z-index: 101;
}

.navBar__options {
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navBar__option {
  color: white;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  padding: 0 10px;
  transition: color 0.3s;
  text-decoration: none;
  flex-shrink: 0;
}

.navBar__option:hover {
  color: #f9b234;
  font-size: 17px;
}

.navBar__option:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: -10px;
  color: #ddd;
}

.navBar__actionsSection {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 30px;
}

.navBar__language {
  font-size: 13px;
  cursor: pointer;
  margin: 0px;
  color: white;
  background: none;
  border: none;
  transition: color 0.3s;
}

.navBar__language:hover {
  color: #f9b234;
}

.navBar__language:focus {
  outline: none;
}

.navBar__language-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: none;
  font-size: 20px;
}

.navBar__button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffae00fd;
  color: black;
  padding: 5px 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;
  box-shadow: 0 2px 8px rgba(255, 174, 0, 0.3);
}

.navBar__button:hover {
  background-color: #ff9d00;
  box-shadow: 0 4px 12px rgba(255, 174, 0, 0.5);
  transform: translateY(-2px);
}

.navBar__button-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar__button-text {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  transition: all 0.3s;
}

.navBar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(18, 65, 34, 1);
  width: 100%;
  height: 100vh;
  z-index: 98;
}

.navBar__hamburguer-menu {
  display: none;
}

.navBar__hamburguer-icon {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
  visibility: visible;
  opacity: 1;
  margin: 0px 20px 0px 0px;
}

@media screen and (max-width: 880px) and (min-width: 544px) {
  .navBar {
    height: 70px;
  }

  .navBar > :nth-child(3) {
    margin-left: auto;
  }

  .navBar__actionsSection {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    /*   padding: 0; */
  }

  .navBar__options {
    padding: 0 0 0 40px;
    display: none;
  }

  .navBar__option {
    font-size: 11px;
  }

  .navBar__language-text {
    display: none;
  }

  .navBar__language-icon {
    display: inline;
  }

  .navBar__button {
    padding: 4px 8px;
    font-size: 13px;
  }

  .navBar__button-icon {
    height: 25px;
    width: 25px;
  }

  .navBar__logo {
    height: 120px;
    padding: 9px 0px 0px 9px;
  }

  .navBar__logoSection {
    left: 60px;
    top: 25px;
  }

  .navBar__button-text {
    font-size: 12px;
  }

  .navBar__option:not(:last-child)::after {
    right: -8px;
  }

  .navBar__hamburguer-menu {
    z-index: 99;
    position: fixed;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    background-color: #124122;
    width: 100%;
    margin: 0;
    color: white;
    top: 70px;
    left: 0px;
  }

  .navBar__hamburguer-option {
    border-bottom: #ddd 1px solid;
    padding: 15px 0px;
    text-align: center;
    font-size: 18px;
    border-bottom: #555 1px solid;
    cursor: pointer;
  }

  .navBar__hamburguer-option:hover {
    transition: all 0.3s;
    color: #f9b234;
    background-color: rgba(9, 145, 43, 0.81);
    font-size: 19px;
  }

  .navBar__hamburguer-icon {
    display: block;
  }

  .navBar__hamburguer-closeIcon {
    width: 20px;
    height: 20px;
  }

  .navBar__hamburguer-closeIcon:hover {
    opacity: 0.6;
  }

  .navBar__hamburguer-logo{
  width: 300px;
  align-self: center;
  margin-top: 90px;
  }
}

@media screen and (max-width: 544px) {
  .navBar {
    display: flex;
    flex-direction: row;
    height: 70px;
    gap: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 65%);
  }

  .navBar > :nth-child(3) {
    margin-left: auto;
  }

  .navBar__logoSection {
    /*   width: auto; */
    left: 50px;
    top: 5px;
    /*  margin-bottom: 10px; */
  }

  .navBar__options {
    width: 100%;
    padding: 0;
    justify-content: space-around;
    margin-bottom: 10px;
    display: none;
  }

  .navBar__button {
    padding: 2px 4px; /* 
    font-size: 11px; */
  }

  .navBar__button-text {
    font-size: 11px;
  }

  .navBar__button-icon {
    height: 20px;
    width: 20px;
  }

  .navBar__actionsSection {
    width: auto;
    flex-direction: row;
    gap: 15px;
    padding: 0;
  }

  .navBar__logo {
    height: 100px;
    padding: 45px 0px 0px 10px;
  }

  .navBar__language-text {
    display: none;
  }

  .navBar__language-icon {
    display: inline;
  }

  .navBar__hamburguer-menu {
    display: flex;
    z-index: 100;
    position: fixed;
    background-color: #124122;
    backdrop-filter: blur(2px);
    flex-direction: column;
    width: 100%;
    margin: 0px;
    color: white;
    top: 70px;
    left: 0px;
  }

  .navBar__hamburguer-option {
    border-bottom: #ddd 1px solid;
    padding: 15px 0px;
    text-align: center;
    font-size: 18px;
    border-bottom: #555 1px solid;
    cursor: pointer;
  }

  .navBar__hamburguer-option:hover {
    transition: all 0.3s;
    color: #f9b234;
    background-color: rgba(9, 145, 43, 0.81);
    font-size: 19px;
  }

  .navBar__hamburguer-icon {
    display: block;
  }

  .navBar__hamburguer-icon:hover {
    opacity: 0.6;
  }

  .navBar__hamburguer-closeIcon {
    width: 20px;
    height: 20px;
  }

  .navBar__hamburguer-logo{
  width: 250px;
  align-self: center;
  margin-top: 100px;
  }
}
