.page {
  font-family: "inter", sans-serif;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.body,
html {
  scroll-behavior: smooth;
}
