.footer {
  background-color: #124122;
  color: white;
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.footer__logo {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.footer__title {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
}

.footer__element-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 10px;
  align-self: flex-start;
}

.footer__link {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.footer__link:hover {
  color: #f9b234;
  font-size: 17px;
}

.footer__info {
  display: flex;
  flex-direction: row;
}

.footer__info-text {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer__icon {
  width: 30px;
}

.footer__image {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

.footer__copyright {
  font-size: 10px;
  padding-bottom: 15px;
  margin: 0px;
}

@media screen and (max-width: 880px) and (min-width: 544px) {
  .footer__title {
    font-size: 14px;
  }

  .footer__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 544px) {
  .footer__title {
    font-size: 12px;
  }

  .footer__link {
    font-size: 12px;
  }
}
