.amorphous {
  position: relative;
  width: var(--circle-size);
  height: var(--circle-size);
  /*  background-color: var(--circle-color); */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.amorphous__filled {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--circle-color);
  z-index: 0;
}

.amorphous__outline {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 3px solid rgb(18, 65, 34);
  transform: translate(-8px, -8px);
  z-index: 1;
}

.amorphous__content {
  position: relative;
  z-index: 2;
}

.amorphous--variant1 .amorphous__filled,
.amorphous--variant1 .amorphous__outline {
  border-radius: 45% 55% 52% 48% / 48% 45% 55% 52%;
}

.amorphous--variant2 .amorphous__filled,
.amorphous--variant2 .amorphous__outline {
  border-radius: 38% 62% 45% 55% / 55% 48% 52% 45%;
}

.amorphous--variant3 .amorphous__filled,
.amorphous--variant3 .amorphous__outline {
  border-radius: 52% 48% 58% 42% / 42% 58% 42% 58%;
}

.amorphous--variant4 .amorphous__filled,
.amorphous--variant4 .amorphous__outline {
  border-radius: 48% 52% 45% 55% / 58% 42% 58% 42%;
}

.amorphous--variant5 .amorphous__filled,
.amorphous--variant5 .amorphous__outline {
  border-radius: 42% 58% 52% 48% / 48% 52% 48% 52%;
}
