@import url(../components/page.css);
@import url(../components/NavBar/navBar.css);
@import url(../components/Header/header.css);
@import url(../components/AboutUs/aboutUs.css);
@import url(../components/Rooms/rooms.css);
@import url(../components/Experiences/experiences.css);
@import url(../components/Events/events.css);
@import url(../components/Allies/allies.css);
@import url(../components/Volunteering/volunteering.css);
@import url(../components/Reviews/reviews.css);
@import url(../components/Footer/footer.css);
@import url(../components/Button/button.css);
@import url(../components/PageExperiences/pageExperiences.css);
@import url(../components/PageGallery/pageGallery.css);
@import url(../components/PageNotFound/pageNotFound.css);
@import url(../components/Popups/popupBooking.css);
@import url(../components/SectionTitle/sectionTitle.css);
@import url(../components/AmorphousCircle/amorphousCircle.css);
@import url(../components/Services/services.css);
